.modal-mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-dialog{
    position: absolute;
    left: 50%;
    top: 30%;
    width: 300px;
    margin-left: -150px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
}

.modal-content{
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    padding: 12px 32px 24px;
}

.modal-body{
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    pointer-events: auto;
    font-size: 16px;
}

.modal-footer{
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    pointer-events: auto;
    text-align: right;
}

.btn{
    line-height: 1.5;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0,0,0,0.015);
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    user-select: none;
    touch-action: manipulation;
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    margin: 0 5px;
}

